Source: @APPS_NAME@
Section: net
Priority: extra
Maintainer: Jerome Etienne <jerome.etienne@gmail.com>
Build-Depends: debhelper (>= 7), pkg-config, libglib2.0-dev, libgcrypt11-dev, zlib1g-dev, libbz2-dev, libgnutls-dev, libidn11-dev, ruby
Standards-Version: 3.8.1
Homepage: http://www.jetienne.com

Package: @APPS_NAME@
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: @APPS_SUMMARY@
 @APPS_DESCRIPTION@
